.btn {
  padding: 12px 24px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.btn__accent {
  padding: 12px 24px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--white-color);
    background-color: #acbcd7;
  }
}
