:root {
  --text-color: #1c1c1c;
  --input-color: #eeeff2;
  --white-color: #fff;
  --placeholder-color: #969eae;
  --accent-color: #0044f0;
  --footer-color:  #f1e9e4;

  --transition-duration: 0.3s;
}
